body {
    width: 1500px;
    background-color: #eeeeee;
    margin: auto;
}
.left {
    background-color:#5dc3b1;
    width: 500px;
    height: 2000px;
    float: left;
}
.photo {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 20px;
    left:150px;
    background-image: url("../img/01.jpg");

}
.silogen {
    text-align: center;
    font-size: 20px;
}
.name {
    text-align: center;
    color: white;
    position: relative;
    top: 30px;
    letter-spacing: 20px;
    font-size: 25px;
}
.conten {
    height: auto;
    width: 100%;
    overflow: hidden;
}
.list ul li {
    list-style: none;
    font-size: 30px;
    color: white;
    text-align: right;
    width: 200px;
}
.list{
    float: left;
}
.power {
    width: 260px;
    float: left;
}
.power1 {
    width: 200px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 27px;
}
.power2 {
    width: 180px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 21px;
}
.power3 {
    width: 170px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 19px;
}
.power4 {
    width: 160px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 20px;
}
.power5 {
    width: 140px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 18px;
}
.power6 {
    width: 120px;
    height: 21px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    margin-top: 19px;
}
.silogen1 {
    clear: left;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.github {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 120px;
    left:200px;
    background-image: url("../img/GitHub.png");
}
.right {
    width: 1000px;
    height: 2000px;
    background-color: #f1eee8;
    float: left;
}


